html {
    height: 96%;
}

body {
    height: 96%;
    vertical-align: center;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main {
    display: flex;
    position: relative;
    width: 98vh;
    height: 98vh;
}

.grid {
    display: grid;
    position: absolute;
    width: 90vh;
    height: 90vh;
    min-width: 90vh;
    min-height: 90vh;
    max-width: 90vh;
    max-height: 90vh;
    border-radius: 1vh;
    border-width: 0.5vh;
}

.nav-grid {
    border-style: none;
}

.nav-link {
    text-decoration: none;
}

.flex-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.flex-grid-row {
    display: flex;
    flex-direction: row;
    margin: 1.45vh 0;
    height: 30%;
    min-height: 30%;
    max-height: 30%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: visible;
    align-items: center;
}

.flex-grid-element {
    display: flex;
    margin: 0 1vh;
    width: 30%;
    height: 100%;
    min-width: 30%;
    min-height: 100%;
    max-width: 30%;
    max-height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border-style: solid;
    border-width: 0.5vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

.flex-grid-content {
    padding: 2vh;
}

.page-grid {
    width: 30vh;
    height: 30vh;
    min-width: 30vh;
    min-height: 30vh;
    max-width: 30vh;
    max-height: 30vh;
    border-style: solid;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.page-grid:target {
    width: 88vh;
    height: 88vh;
    min-width: 88vh;
    min-height: 88vh;
    max-width: 88vh;
    max-height: 88vh;
    opacity: 1;
    pointer-events: auto;
}

#page1 {
    left: 1vh;
    top: 1vh;
}

#page1:target {
    left: 1vh;
    top: 1vh;
}

#page2 {
    left: 32vh;
    top: 32vh;
}

#page2:target {
    left: 1vh;
    top: 1vh;
}

#page3 {
    left: 1vh;
    top: 64vh;
}

#page3:target {
    left: 1vh;
    top: 1vh;
}

#page4 {
    left: 64vh;
    top: 64vh;
}

#page4:target {
    left: 1vh;
    top: 1vh;
}